<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="renderer" content="webkit">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="__HCSS__/base-v1.3.css">
	<link rel="stylesheet" type="text/css" href="__HCSS__/style.css">
	<title>分享页面</title>
</head>
<body class="share">
	<include file="Public:wx_js" />
	<div class="bg">
		<img src="__HIMG__/sharebg.jpg">
	</div>
</body>
</html>